#paging ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#paging_table ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#paging ul li:hover {
  cursor: pointer;
}
#paging_table ul li:hover {
  cursor: pointer;
}
a {
  color: black;
}

#paging .paginationjs-page,
#paging .paginationjs-ellipsis,
#paging .paginationjs-prev,
#paging .paginationjs-next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #9c9a98;
}

#paging_table .paginationjs-page,
#paging_table .paginationjs-ellipsis,
#paging_table .paginationjs-prev,
#paging_table .paginationjs-next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #9c9a98;
}

#paging_table .active {
  background-color: #9c9a98;
  color: white;
}
#paging .active {
  background-color: #9c9a98;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.content .content-item {
  flex-basis: 25%;
}

.image-item {
  width: 100%;
  object-fit: cover;
  height: 330px;
}
