<section class='vh-100 mt-100' style='background-color: #white; '>
  <div class='container h-100 m-t-100' >
    <div class='row d-flex justify-content-center align-items-center h-100' style="margin-top:150px; margin-bottom: 150px" >
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading mt-2">  <i class="fas fa-check-circle"></i>Hello customer,</h4>
            <p>We have sent the method to reset the password via email. Please check your email again</p>
            <hr>
            <p class="mb-0">Thank you for choosing and trusting our service.</p>
            </div>
    </div>
  </div>
</section>
<script src="/js/checkForgotPassword.js"></script>
